[submodule "epic-react-02-react-fundamentals"]
	path = epic-react-02-react-fundamentals
	url = https://github.com/spfave/epic-react-02-react-fundamentals.git
[submodule "epic-react-03-react-hooks"]
	path = epic-react-03-react-hooks
	url = https://github.com/spfave/epic-react-03-react-hooks.git
[submodule "epic-react-04-adv-react-hooks"]
	path = epic-react-04-adv-react-hooks
	url = https://github.com/spfave/epic-react-04-adv-react-hooks.git
[submodule "epic-react-09-bookshelf"]
	path = epic-react-09-bookshelf
	url = https://github.com/spfave/epic-react-09-bookshelf.git
